Repository LynnCen/gitlab-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src-v2/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat: 实现核心基础设施层（阶段1 - Week 3）
  src-v2/cache/CacheProvider.ts
  src-v2/cache/MemoryCacheProvider.ts
  src-v2/cache/index.ts
  src-v2/config/ConfigManager.ts
  src-v2/config/ConfigProvider.ts
  src-v2/config/EnvConfigProvider.ts
  src-v2/config/index.ts
  src-v2/config/types.ts
  src-v2/core/di/Container.ts
  src-v2/core/di/decorators.ts
  src-v2/core/di/index.ts
  src-v2/core/di/types.ts
  src-v2/core/protocol/MessageValidator.ts
  src-v2/core/protocol/ProtocolErrorHandler.ts
  src-v2/core/protocol/index.ts
  src-v2/errors/BaseError.ts
  src-v2/errors/BusinessError.ts
  src-v2/errors/ErrorCode.ts
  src-v2/errors/ErrorHandler.ts
  src-v2/errors/GitLabApiError.ts
  src-v2/errors/SystemError.ts
  src-v2/errors/index.ts
  src-v2/logging/Logger.ts
  src-v2/logging/PinoLogger.ts
  src-v2/logging/index.ts
  src-v2/logging/types.ts
Due: eslint --fix, prettier --write

feat: 实现传输层（阶段1 - Week 4）
  src-v2/transport/HttpTransport.ts
  src-v2/transport/StdioTransport.ts
  src-v2/transport/Transport.ts
  src-v2/transport/TransportManager.ts
  src-v2/transport/WebSocketTransport.ts
  src-v2/transport/index.ts
  src-v2/transport/types.ts
Due: eslint --fix, prettier --write

feat: 实现能力层（阶段1 - Week 5）
  src-v2/capabilities/CapabilityManager.ts
  src-v2/capabilities/index.ts
  src-v2/capabilities/prompts/Prompt.ts
  src-v2/capabilities/prompts/PromptRegistry.ts
  src-v2/capabilities/prompts/PromptRenderer.ts
  src-v2/capabilities/prompts/index.ts
  src-v2/capabilities/prompts/types.ts
  src-v2/capabilities/resources/Resource.ts
  src-v2/capabilities/resources/ResourceRegistry.ts
  src-v2/capabilities/resources/index.ts
  src-v2/capabilities/resources/types.ts
  src-v2/capabilities/tools/Tool.ts
  src-v2/capabilities/tools/ToolRegistry.ts
  src-v2/capabilities/tools/index.ts
  src-v2/capabilities/tools/types.ts
Due: eslint --fix, prettier --write

feat: 实现中间件框架（阶段1 - Week 6）
  src-v2/middleware/AuthenticationMiddleware.ts
  src-v2/middleware/CacheMiddleware.ts
  src-v2/middleware/ErrorHandlingMiddleware.ts
  src-v2/middleware/LoggingMiddleware.ts
  src-v2/middleware/Middleware.ts
  src-v2/middleware/MiddlewareChain.ts
  src-v2/middleware/PerformanceMiddleware.ts
  src-v2/middleware/RateLimitMiddleware.ts
  src-v2/middleware/index.ts
  src-v2/middleware/types.ts
Due: eslint --fix, prettier --write

test: 添加阶段1的单元测试
  tests-v2/unit/cache/MemoryCacheProvider.test.ts
  tests-v2/unit/capabilities/tools/ToolRegistry.test.ts
  tests-v2/unit/config/ConfigManager.test.ts
  tests-v2/unit/core/di/Container.test.ts
  tests-v2/unit/core/di/decorators.test.ts
  tests-v2/unit/core/protocol/MessageValidator.test.ts
  tests-v2/unit/core/protocol/ProtocolErrorHandler.test.ts
  tests-v2/unit/errors/BaseError.test.ts
  tests-v2/unit/errors/ErrorHandler.test.ts
  tests-v2/unit/logging/PinoLogger.test.ts
  tests-v2/unit/middleware/MiddlewareChain.test.ts
  tests-v2/unit/transport/StdioTransport.test.ts
  tests-v2/unit/transport/TransportManager.test.ts
Due: none

feat(stage2): 实现数据访问层 (Week 7)
  src-v2/repositories/CacheRepository.ts
  src-v2/repositories/ConfigRepository.ts
  src-v2/repositories/GitLabRepository.ts
  src-v2/repositories/index.ts
  src-v2/repositories/types.ts
  tests-v2/unit/repositories/CacheRepository.test.ts
  tests-v2/unit/repositories/ConfigRepository.test.ts
  tests-v2/unit/repositories/GitLabRepository.test.ts
Due: eslint --fix, prettier --write

feat(stage2): 实现业务服务层 (Week 8)
  src-v2/services/CodeReviewRuleEngine.ts
  src-v2/services/CodeReviewService.ts
  src-v2/services/FileOperationService.ts
  src-v2/services/MergeRequestService.ts
  src-v2/services/ProjectService.ts
  src-v2/services/index.ts
  src-v2/services/types.ts
Due: eslint --fix, prettier --write

feat(stage2): 实现插件系统框架 (Week 9)
  src-v2/core/plugin/Plugin.ts
  src-v2/core/plugin/PluginLoader.ts
  src-v2/core/plugin/PluginRegistry.ts
  src-v2/core/plugin/index.ts
  src-v2/core/plugin/types.ts
Due: eslint --fix, prettier --write

feat(stage2): 实现插件系统和内置插件 (Week 9-10)
  src-v2/plugins/gitlab-code-review/index.ts
  src-v2/plugins/gitlab-code-review/prompts/CodeReviewTypeScriptPrompt.ts
  src-v2/plugins/gitlab-code-review/prompts/CodeReviewVuePrompt.ts
  src-v2/plugins/gitlab-code-review/resources/CodeReviewRulesResource.ts
  src-v2/plugins/gitlab-code-review/tools/AnalyzeMRChangesTool.ts
  src-v2/plugins/gitlab-code-review/tools/GetFileCodeReviewRulesTool.ts
  src-v2/plugins/gitlab-code-review/tools/PushCodeReviewCommentsTool.ts
  src-v2/plugins/gitlab-file/index.ts
  src-v2/plugins/gitlab-file/resources/FileResource.ts
  src-v2/plugins/gitlab-file/tools/GetFileContentTool.ts
  src-v2/plugins/gitlab-mr/index.ts
  src-v2/plugins/gitlab-mr/prompts/MRDescriptionPrompt.ts
  src-v2/plugins/gitlab-mr/resources/MergeRequestChangesResource.ts
  src-v2/plugins/gitlab-mr/resources/MergeRequestResource.ts
  src-v2/plugins/gitlab-mr/resources/ProjectResource.ts
  src-v2/plugins/gitlab-mr/tools/GetMergeRequestChangesTool.ts
  src-v2/plugins/gitlab-mr/tools/GetMergeRequestTool.ts
  src-v2/plugins/gitlab-mr/tools/ListMergeRequestsTool.ts
  src-v2/plugins/gitlab-mr/tools/UpdateMergeRequestDescriptionTool.ts
Due: eslint --fix, prettier --write

fix(stage2): 修复接口兼容性问题
  src-v2/capabilities/prompts/Prompt.ts
  src-v2/capabilities/resources/Resource.ts
  src-v2/capabilities/tools/Tool.ts
  src-v2/logging/index.ts
Due: eslint --fix, prettier --write

chore: 删除 env.example 示例配置文件
  env.example
Due: none

fix: 修复 tsconfig-v2.json 以包含测试文件
  tsconfig-v2.json
Due: prettier --write

test(stage3): 添加服务层单元测试
  tests-v2/unit/services/CodeReviewRuleEngine.test.ts
  tests-v2/unit/services/FileOperationService.test.ts
  tests-v2/unit/services/MergeRequestService.test.ts
Due: none

test(stage3): 添加插件系统和能力层单元测试
  tests-v2/unit/capabilities/prompts/PromptRegistry.test.ts
  tests-v2/unit/capabilities/resources/ResourceRegistry.test.ts
  tests-v2/unit/plugins/PluginRegistry.test.ts
Due: none

test(stage3): 添加集成测试和 E2E 测试
  tests-v2/e2e/v2-e2e.test.ts
  tests-v2/integration/v2-integration.test.ts
Due: none

test(stage3): 添加性能测试框架和覆盖率文档
  tests-v2/performance/cache-performance.test.ts
  tests-v2/performance/tool-performance.test.ts
Due: none

fix: 修复 GitLabRepository 测试中的 async 问题
  tests-v2/unit/repositories/GitLabRepository.test.ts
Due: none

docs(stage3): 添加测试覆盖率报告文档
  tests-v2/coverage/coverage-report.md
Due: prettier --write

test(stage3): 实现性能测试框架 (Week 11 Day 3-4)
  tests-v2/performance/README.md
  tests-v2/performance/cache-performance.test.ts
  tests-v2/performance/tool-performance.test.ts
Due: prettier --write

feat(stage3): 实现流式资源基类 (Week 11 Day 5)
  src-v2/capabilities/resources/StreamingResource.ts
  src-v2/capabilities/resources/index.ts
Due: eslint --fix, prettier --write

feat(stage3): 实现流式文件服务 (Week 11 Day 5)
  src-v2/services/StreamingFileService.ts
  src-v2/services/index.ts
Due: eslint --fix, prettier --write

feat(stage3): 实现流式文件资源 (Week 11 Day 5)
  src-v2/plugins/gitlab-file/resources/StreamingFileResource.ts
Due: eslint --fix, prettier --write

test(stage3): 添加流式文件服务单元测试 (Week 11 Day 5)
  tests-v2/unit/services/StreamingFileService.test.ts
Due: none

feat(stage3): 实现安全中间件 (Week 12 Day 1-2)
  src-v2/middleware/SecurityMiddleware.ts
  src-v2/middleware/index.ts
Due: eslint --fix, prettier --write

feat(stage3): 实现路径验证工具 (Week 12 Day 1-2)
  src-v2/utils/index.ts
  src-v2/utils/path-validator.ts
  tests-v2/unit/utils/path-validator.test.ts
Due: eslint --fix, prettier --write

docs(stage3): 添加安全审计文档 (Week 12 Day 1)
  docs/security-audit.md
Due: prettier --write

docs(stage3): 添加 API 参考、迁移指南和插件开发指南 (Week 12 Day 3)
  docs/api-reference.md
  docs/migration-guide.md
  docs/plugin-development-guide.md
Due: prettier --write

chore(stage3): 更新版本号和发布文档 (Week 12 Day 4)
  CHANGELOG.md
  docs/release-notes-v2.0.0.md
  package.json
Due: prettier --write

refactor: 移除不需要的模块 (DI、Plugin、Middleware、Protocol、TransportManager)
  src-v2/capabilities/CapabilityManager.ts
  src-v2/core/di/Container.ts
  src-v2/core/di/decorators.ts
  src-v2/core/di/index.ts
  src-v2/core/di/types.ts
  src-v2/core/plugin/Plugin.ts
  src-v2/core/plugin/PluginLoader.ts
  src-v2/core/plugin/PluginRegistry.ts
  src-v2/core/plugin/index.ts
  src-v2/core/plugin/types.ts
  src-v2/core/protocol/MessageValidator.ts
  src-v2/core/protocol/ProtocolErrorHandler.ts
  src-v2/core/protocol/index.ts
  src-v2/middleware/AuthenticationMiddleware.ts
  src-v2/middleware/CacheMiddleware.ts
  src-v2/middleware/ErrorHandlingMiddleware.ts
  src-v2/middleware/LoggingMiddleware.ts
  src-v2/middleware/Middleware.ts
  src-v2/middleware/MiddlewareChain.ts
  src-v2/middleware/PerformanceMiddleware.ts
  src-v2/middleware/RateLimitMiddleware.ts
  src-v2/middleware/SecurityMiddleware.ts
  src-v2/middleware/index.ts
  src-v2/middleware/types.ts
  src-v2/transport/HttpTransport.ts
  src-v2/transport/TransportManager.ts
Due: eslint --fix, prettier --write

feat: 实现 MCP Server 核心层
  src-v2/bootstrap/index.ts
  src-v2/bootstrap/registerTools.ts
  src-v2/core/server/MCPServer.ts
  src-v2/core/server/index.ts
Due: eslint --fix, prettier --write

refactor: 简化插件导出，移除 Plugin 基类依赖
  src-v2/plugins/gitlab-code-review/index.ts
  src-v2/plugins/gitlab-file/index.ts
  src-v2/plugins/gitlab-mr/index.ts
Due: eslint --fix, prettier --write

fix: 修复资源 URI 重复注册问题
  src-v2/plugins/gitlab-file/resources/FileResource.ts
  src-v2/plugins/gitlab-mr/resources/MergeRequestChangesResource.ts
  src-v2/plugins/gitlab-mr/resources/MergeRequestResource.ts
  src-v2/plugins/gitlab-mr/resources/ProjectResource.ts
  src-v2/plugins/gitlab-mr/tools/GetMergeRequestTool.ts
Due: eslint --fix, prettier --write

fix: 修复类型错误和编译问题
  src-v2/capabilities/index.ts
  src-v2/capabilities/prompts/PromptRenderer.ts
  src-v2/config/ConfigManager.ts
  src-v2/errors/GitLabApiError.ts
  src-v2/index.ts
  src-v2/logging/PinoLogger.ts
  src-v2/logging/types.ts
  src-v2/repositories/GitLabRepository.ts
  src-v2/services/index.ts
  src-v2/services/types.ts
  src-v2/transport/WebSocketTransport.ts
  src-v2/transport/index.ts
Due: eslint --fix, prettier --write

chore: 更新构建配置
  package.json
  tsconfig-v2.json
Due: prettier --write

docs: 添加 Phase 1 完成报告和架构分析文档
  phase1-completion-report.md
  review.md
  unused-modules-analysis.md
Due: prettier --write

docs: 添加架构统一改造方案文档
  REFACTORING-UNIFICATION.md
  scripts/unify-architecture.sh
Due: prettier --write

refactor: 删除 v1 源代码
  src/gitlab/GitLabClient.ts
  src/gitlab/GitLabClientFactory.ts
  src/gitlab/client.ts
  src/gitlab/strategies/FileStrategy.ts
  src/gitlab/strategies/MRStrategy.ts
  src/mcp/tools/GetFileContentTool.ts
  src/mcp/tools/GetMRChangesTool.ts
  src/mcp/tools/ToolRegistry.ts
  src/mcp/transport/SSETransportAdapter.ts
  src/server/ConnectionManager.ts
  src/server/ExpressServer.ts
  src/server/index.ts
  src/server/mcp-server/index.ts
  src/server/tools/ai-code-review/helper.ts
  src/server/tools/ai-code-review/index.ts
  src/server/tools/file-operation/index.ts
  src/server/tools/index.ts
  src/server/tools/merge-request/index.ts
  src/utils/const.ts
Due: none

refactor: 删除 v1 测试代码
  tests/config/env.example
  tests/config/test-config.ts
  tests/integration/mr-changes.test.ts
  tests/integration/quick.test.ts
  tests/utils/test-logger.ts
  tests/utils/test-runner.ts
Due: none

refactor: 将 tests-v2 移动到 tests
  tests-v2/README.md
  tests-v2/coverage/coverage-report.md
  tests/README.md
  tests/benchmarks/performance-baseline.ts
  tests/e2e/v2-e2e.test.ts
  tests/integration/baseline.test.ts
  tests/integration/v2-integration.test.ts
  tests/performance/README.md
  tests/performance/cache-performance.test.ts
  tests/performance/tool-performance.test.ts
  tests/unit/cache/MemoryCacheProvider.test.ts
  tests/unit/capabilities/prompts/PromptRegistry.test.ts
  tests/unit/capabilities/resources/ResourceRegistry.test.ts
  tests/unit/capabilities/tools/ToolRegistry.test.ts
  tests/unit/config/ConfigManager.test.ts
  tests/unit/core/di/Container.test.ts
  tests/unit/core/di/decorators.test.ts
  tests/unit/core/protocol/MessageValidator.test.ts
  tests/unit/core/protocol/ProtocolErrorHandler.test.ts
  tests/unit/errors/BaseError.test.ts
  tests/unit/errors/ErrorHandler.test.ts
  tests/unit/logging/PinoLogger.test.ts
  tests/unit/middleware/MiddlewareChain.test.ts
  tests/unit/plugins/PluginRegistry.test.ts
  tests/unit/repositories/CacheRepository.test.ts
  tests/unit/repositories/ConfigRepository.test.ts
  tests/unit/repositories/GitLabRepository.test.ts
  tests/unit/services/CodeReviewRuleEngine.test.ts
  tests/unit/services/FileOperationService.test.ts
  tests/unit/services/MergeRequestService.test.ts
  tests/unit/services/StreamingFileService.test.ts
  tests/unit/transport/StdioTransport.test.ts
  tests/unit/transport/TransportManager.test.ts
  tests/unit/utils/path-validator.test.ts
Due: prettier --write
